@import '~flatpickr/dist/flatpickr.min.css';
@import '~cropperjs/dist/cropper.min.css';

.preview-photo-form {
    width: auto;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

.pre-review-photo{
    width: auto;
    height: auto;
    max-width: 646px;
    max-height: 431px;
}

